# comeup with one example for all data structure

## 1 List

In [28]:
List = ["arun", "chandhen", "shubendhu"]

print("Accessing element from the list")
print(List[0])
print(List[2])

print("Accessing element using negative indexing")
print(List[-1])
print(List[-3])

Accessing element from the list
arun
shubendhu
Accessing element using negative indexing
shubendhu
arun

In [29]:
L = [1, "a" , "string" , 1+2]
print (L)

[1, 'a', 'string', 3]

## 2 Dictionary

In [30]:
car_dict = {}
car_dict['toyoto'] = 'Supera'
car_dict['mazda'] = 'Rx 7'
car_dict['mustang'] = 'Shelby 1947'
car_dict['nissan'] = 'GT R'

print(car_dict)

{'toyoto': 'Supera', 'mazda': 'Rx 7', 'mustang': 'Shelby 1947', 'nissan': 'GT R'}

In [33]:
car_dict = {'toyoto', 'mazda', 'mustang', 'nissan'}
car_dict = dict(enumerate(car_dict))
print(car_dict)

{0: 'toyoto', 1: 'mazda', 2: 'nissan', 3: 'mustang'}

In [34]:
car_dict1 = {'toyoto': 'Supera', 'mazda': 'Rx 7'}
car_dict2 = {'mustang': 'Shelby 1947', 'nissan': 'GT R'}

car_dict = (car_dict1 | car_dict2)
print(car_dict)

{'toyoto': 'Supera', 'mazda': 'Rx 7', 'mustang': 'Shelby 1947', 'nissan': 'GT R'}

## 3 Set

In [37]:
myset = set(["harry", "jerry", "tom"])
print(myset)

{'harry', 'tom', 'jerry'}

In [38]:
cars = {"Supera", "mazda", "nissan"}
 
print("cars:", end = " ")
print(cars)

cars: {'mazda', 'nissan', 'Supera'}

## 4 Tuple

In [40]:
Tuple1 = (0, 1, 2, 3)
Tuple2 = ('apple', 'orange', 'watermelon')
 
Tuple3 = Tuple1 + Tuple2
print(Tuple3)

(0, 1, 2, 3, 'apple', 'orange', 'watermelon')