## Daily Task - 1

In [16]:
#The capitalize() method converts the first character of a string to an uppercase letter and all other alphabets to lowercase.
#syntax - string.capitalize()

In [16]:
safety_rule = "drive safely"

In [19]:
safety_rule.capitalize()

'Drive safely'

In [18]:
myself = "i'm yogesh"

In [15]:
myself.capitalize()

"I'm yogesh"

In [2]:
#The casefold() method converts all characters of the string into lowercase letters and returns a new string.
#syntax - str.casefold()

In [26]:
text_1 = "WHAT IS YOUR NAME ?"

In [27]:
print(text_1.casefold())

what is your name ?

In [28]:
text_2 = "MY CLASS Is StArT At 9.00 P.m"

In [29]:
print(text_2.casefold())

my class is start at 9.00 p.m

In [29]:
print(text_2.casefold())

my class is start at 9.00 p.m

In [3]:
#The count() method returns the number of occurrences of a substring in the given string.
#syntax - string.count(substring, start=..., end=...)

In [35]:
string_1 = "They can because they think they can" 
substring = "they"                               
count = string_1.count(substring)
print("The count is :",count)

The count is : 2

In [4]:
string_2 = "they can because they think they can"
print('Number of occurrence of t :' ,string_2.count('t'))

Number of occurrence of t : 4

In [4]:
#The center() method returns a new centered string after padding it with the specified character.
#syntax - str.center(width, [fillchar])

In [62]:
point_1 = "Success is a state of mind".
new_string = point_1.center(28,'*')   
print(new_string)

*Success is a state of mind*

In [63]:
point_2 = "All is well"
point_2.center(13,'$')

'$All is well$'

In [5]:
#The encode() method returns an encoded version of the given string.
#encoding - the encoding type a string has to be encoded to
#errors - response when encoding fails. There are six types of error response
#strict - default response which raises a UnicodeDecodeError exception on failure
#ignore - ignores the unencodable unicode from the result
#replace - replaces the unencodable unicode to a question mark ?
#xmlcharrefreplace - inserts XML character reference instead of unencodable unicode
#backslashreplace - inserts a \uNNNN escape sequence instead of unencodable unicode
#namereplace - inserts a \N{...} escape sequence instead of unencodable unicode
#syntax - string.encode(encoding='UTF-8',errors='strict')

In [3]:
text = "I had an delightful lunch"

In [5]:
text.encode()

b'I had an delightful lunch'

In [8]:
string = "Attitude!"

In [9]:
string.encode()

b'Attitude!'

In [6]:
#The find() method returns the index of first occurrence of the substring (if found). If not found, it returns -1.
#syntax - str.find(sub[, start[, end]] )

In [14]:
input = 'You always have a choice'

In [15]:
input.find('you')

-1

In [20]:
input = 'do small things with great love'
input.find('with',0,10)

-1

In [7]:
#format() method takes any number of parameters. But, is divided into two types of parameters:
#Positional parameters - list of parameters that can be accessed with index of parameter inside curly braces {index}
#Keyword parameters - list of parameters of type key=value, that can be accessed with key of parameter inside curly braces {key}
#syntax - template.format(p0, p1, ..., k0=v0, k1=v1, ...)

In [29]:
print('the number is:{:d}'.format(56))

the number is:56

In [30]:
print("{:f} {:f}".format(12.02,23.02))

12.020000 23.020000

In [8]:
#The index() method returns the index of a substring inside the string (if found). If the substring is not found, it raises an exception.
#syntax - str.index(sub[, start[, end]]

In [35]:
input = 'Hi everyone, good evening' 
input.index(',')

11

In [39]:
input = 'Hi everyone, good evening'
print(input.index('g',9,15))

13

In [9]:
#the isalnum() method returns True if all characters in the string are alphanumeric (either alphabets or numbers). If not, it returns False.
#syntax - string.isalnum()

In [40]:
string = 'day1' 
string.isalnum()

True

In [41]:
string = 'day 1'
string.isalnum()

False

In [10]:
#syntax - string.isalpha()
#The isalpha() returns:
#True if all characters in the string are alphabets (can be both lowercase and uppercase).
#False if at least one character is not alphabet.

In [42]:
name = "Yogesh"        
print(name.isalpha())

True

In [43]:
name = "Y0gesh"
print(name.isalpha())

False

In [44]:
name = "Yogesh "  #contains whitespace
print(name.isalpha())

False

In [12]:
#syntax - string.isdecimal()
#The isdecimal() returns:
#True if all characters in the string are decimal characters.
#False if at least one character is not decimal character.

In [13]:
f = "6845"      
print(f.isdecimal())

True

In [14]:
f = "556eft"
print(f.isdecimal())

False

In [15]:
#syntax - string.isdigit()
#The isdigit() method returns True if all characters in a string are digits. If not, it returns False.

In [16]:
str1 = '56'           
print(str1.isdigit())

True

In [49]:
str2 = '5y'
print(str2.isdigit())

False

In [ ]:
#syntax - string.isidentifier()
#The isidentifier() method returns:
#True if the string is a valid identifier
#False if the string is not a invalid identifier

In [53]:
str = 'mentor ship'     
print(str.isidentifier())

False

In [54]:
str = 'mentorship'
print(str.isidentifier())

True

In [ ]:
#syntax - string.lower()
#lower() method returns the lowercase string from the given string. It converts all uppercase characters to lowercase.
#If no uppercase characters exist, it returns the original string.

In [55]:
string = 'Good evening'  
print(string.islower())

False

In [56]:
string = 'good evening' 
print(string.islower())

True

In [17]:
#syntax - string.isnumeric()
#The isnumeric() method returns:
#True -if all characters in the string are numeric
#False -if at least one character is not a numeric

In [18]:
num1 = '6842'    
print(num1.isnumeric())

True

In [65]:
num2 = '2**2'
print(num2.isnumeric())

False

In [ ]:
#syntax - string.isprintable()
#Note:
#Characters that occupy printing space on the screen are known as printable characters. For example letters and symbols, digits, punctuation, whitespace
#Characters that do not occupy a space and are used for formatting is known as non-printable characters. For example line breaks, page breaks

In [70]:
input = 'Hi ! How you doing ?' 
text = input.isprintable()
print(text)

True

In [ ]:
#syntax - string.isspace()
#isspace() method returns:
#True if all characters in the string are whitespace characters
#False if the string is empty or contains at least one non-printable character

In [77]:
space = ' '            
print(space.isspace())

True

In [78]:
space = '\n'
print(space.isspace())

True

In [ ]:
#syntax - string.istitle()
#The istitle() method returns:
#True if the string is a titlecased string
#False if the string is not a titlecased string or an empty string

In [81]:
title = "WELCOME YOU ALL" 
title.istitle()

False

In [82]:
title = "Welcome You All"
title.istitle()

True

In [ ]:
#syntax - string.isupper()
#The isupper() method returns:
#True if all characters in a string are uppercase characters
#False if any characters in a string are lowercase characters

In [85]:
string = "WELCOME YOU ALL"
print(string.isupper())

True

In [86]:
string = "Welcome You All"
print(string.isupper())

False

In [ ]:
#syntax - string.join(iterable)
#The join() method takes an iterable (objects capable of returning its members one at a time) as its parameter.
#Some of the example of iterables are:
#Native data types - List, Tuple, String, Dictionary and Set.
#File objects and objects you define with an __iter__() or __getitem()__ method.

In [93]:
text = ['what', 'is', 'your', 'name', '?'] 
print(''.join(text))

whatisyourname?

In [94]:
list = ['1', '2', '3', '4']
separator = ', '
print(separator.join(list))

1, 2, 3, 4

In [ ]:
#syntax - string.ljust(width[, fillchar])
#ljust() method takes two parameters:
#width - width of the given string. If width is less than or equal to the length of the string, the original string is returned.
#fillchar (Optional) - character to fill the remaining space of the width

In [98]:
string = 'sun'
width =6
fillchar = '*'
print(string.ljust(width,fillchar))

sun***

In [100]:
string = 'cat'
width = 7
print(string.ljust(width))

cat

In [ ]:
#The rjust() method right aligns the string up to a given width using a specified character.
#syntax - string.rjust(width,[fillchar])
#The rjust() method can take two parameters:
#width - width of the given string
#fillchar(Optional) - character to fill the remaining space of the width

In [103]:
text = 'whatever' 
text.rjust(10,'*')

'**whatever'

In [105]:
text = 'money'
text.rjust(10,'$')

'$$$$$money'

In [19]:
#syntax - string.lower()
#The lower() method converts all uppercase characters in a string into lowercase characters and returns it.

In [107]:
message = 'EXCELLENT'   #lower()
print(message.lower())

excellent

In [108]:
message = 'ExCeLlEnT'   
print(message.lower())

excellent

In [20]:
#The upper() method converts all lowercase characters in a string into uppercase characters and returns it.
#string.upper()

In [109]:
message = 'ExCeLlEnT'
print(message.upper())

EXCELLENT

In [110]:
message = 'excellent'  
print(message.upper())

EXCELLENT

In [ ]:
#The swapcase() method returns the string by converting all the characters to their opposite letter case( uppercase to lowercase and vice versa).
#string.swapcase()

In [112]:
name = 'Bala Murugan' 
print(name.swapcase())

bALA mURUGAN

In [114]:
message = 'ExCeLlEnT'
print(message.swapcase().swapcase())

ExCeLlEnT

In [ ]:
#The lstrip() removes characters from the left based on the argument (a string specifying the set of characters to be removed).
#string.lstrip([chars])

In [117]:
string = '    Be still'   
print(string.lstrip())

Be still

In [120]:
string = 'Be still'
print(string.lstrip('Be'))

 still

In [ ]:
#syntax - str.rsplit([separator [, maxsplit]])
#rsplit() method takes maximum of 2 parameters:
#separator (optional)- The is a delimiter. rsplit() method splits string starting from the right at the specified separator.
#If the separator is not specified, any whitespace (space, newline etc.) string is a separator.
#maxsplit (optional) - The maxsplit defines the maximum number of splits.
#The default value of maxsplit is -1, meaning, no limit on the number of splits.

In [123]:
string = 'Be still    '   
print(string.rstrip())

Be still

In [124]:
string = 'Be still'  
print(string.rstrip('still'))

Be

In [ ]:
#The strip() method returns a copy of the string by removing both the leading and the trailing characters (based on the string argument passed).
#string.strip([chars])

In [125]:
string = '    Be still     '
print(string.strip())

Be still

In [130]:
string = 'Be still'
print(string.strip('Bl'))

e sti

In [ ]:
#syntax - string.partition(separator)
#The partition method returns a 3-tuple containing:
#the part before the separator, separator parameter, and the part after the separator if the separator parameter is found in the string
#the string itself and two empty strings if the separator parameter is not found

In [135]:
string = "WELCOME YOU ALL"    
print(string.partition('YOU'))

('WELLCOME ', 'YOU', ' ALL')

In [142]:
string = "I'm Yogesh"   
print(string.partition(' '))

("I'm", ' ', 'Yogesh')

In [ ]:
#syntax - string.maketrans(x[, y[, z]])
#maketrans() method takes 3 parameters:
#x - If only one argument is supplied, it must be a dictionary.
#The dictionary should contain a 1-to-1 mapping from a single character string to its translation OR a Unicode number (97 for 'a') to its translation.
#y - If two arguments are passed, it must be two strings with equal length.
#Each character in the first string is a replacement to its corresponding index in the second string.
#z - If three arguments are passed, each character in the third argument is mapped to Non

In [145]:
string1 = {"a": "123", "b": "456", "c": "789"} 
string2= "abc"
print(string2.maketrans(string1))

{97: '123', 98: '456', 99: '789'}

In [147]:
firstString = "abc"
secondString = "def"
string = "abc"
print(string.maketrans(firstString, secondString))

{97: 100, 98: 101, 99: 102}

In [163]:
firststring = 'abc' 
secondstring = 'def'
thirdstring = 'ghi'
string = 'abcdefghi'
print("Original string:",string)
translation = string.maketrans(firststring, secondstring, thirdstring)
print("translated string:",string.translate(translation))

Original string: abcdefghi
translated string: defdef

In [ ]:
#syntax - string.rpartition(separator)
#rpartition() method returns a 3-tuple containing:
#the part before the separator, separator parameter, and the part after the separator if the separator parameter is found in the string
#two empty strings, followed by the string itself if the separator parameter is not found

In [150]:
string = "WELCOME YOU ALL"    
print(string.rpartition('YOU '))

('WELLCOME ', 'YOU ', 'ALL')

In [153]:
string = "WELCOME YOU ALL"    
print(string.rpartition(','))

('', '', 'WELLCOME YOU ALL')

In [ ]:
#syntax - str.replace(old, new [, count]) 
#The replace() method can take a maximum of three arguments:
#old - the old substring we want to replace
#new - new substring which will replace the old substring
#count (optional) - the number of times you want to replace the old substring with the new string

In [165]:
input = 'sun'       
input.replace('s','f')

'fun'

In [171]:
input = 'sun, sun, sun, sun'
input.replace('s','f',2)

'fun, fun, sun, sun'

In [ ]:
#syntax - str.rfind(sub[, start[, end]] )
#rfind() method takes a maximum of three parameters:
#sub - It's the substring to be searched in the str string.
#start and end (optional) - substring is searched within str[start:end]
#rfind() method returns an integer value.
##If substring doesn't exist inside the string, it returns -1.

In [173]:
input = 'sucess is a state of mind'  
print(input.rfind('state'))

12

In [175]:
input = 'sucess is a state of mind'
print(input.rfind('A'))

-1

In [ ]:
#syntax - str.rindex(sub[, start[, end]] )
#rindex() method takes three parameters:
#sub - substring to be searched in the str string.
#start and end(optional) - substring is searched within str[start:end]
#If substring exists inside the string, it returns the highest index in the string where the substring is found.
#If substring doesn't exist inside the string, it raises a ValueError exception

In [177]:
input = 'sucess is a state of mind'
print(input.rindex('state'))

12

In [178]:
input = 'sucess is a state of mind' 
print(input.rindex('e',7,18))

16

In [ ]:
#syntax - str.split(separator, maxsplit)
#The split() method takes a maximum of 2 parameters:
#separator (optional)- Delimiter at which splits occur. If not provided, the string is splitted at whitespaces.
#maxsplit (optional) - Maximum number of splits. If not provided, there is no limit on the number of splits.

In [182]:
tree = 'neem-mango-pappaya-coco'   
tree.split('-')

['neem', 'mango', 'pappaya', 'coco']

In [187]:
tree = 'neem,mango-pappaya,coco'
tree.split('-')

['neem,mango', 'pappaya,coco']

In [ ]:
#syntax - str.rsplit([separator [, maxsplit]])
#rsplit() method takes maximum of 2 parameters:
#separator (optional)- The is a delimiter. rsplit() method splits string starting from the right at the specified separator.
#If the separator is not specified, any whitespace (space, newline etc.) string is a separator.
#maxsplit (optional) - The maxsplit defines the maximum number of splits.
#The default value of maxsplit is -1, meaning, no limit on the number of splits.

In [21]:
tree = 'neem-mango-pappaya-coco'   
tree.rsplit('-',1)

['neem-mango-pappaya', 'coco']

In [22]:
grocery = 'Milk, Chicken, Bread'
print(grocery.rsplit(', '))

['Milk', 'Chicken', 'Bread']

In [ ]:
#syntax - string.splitlines([keepends])
#The splitlines() method can take a single parameter:
#keepends(optional) - it determines whether line breaks are included in the resulting list or not. It's value can be True or any number.
#Representation	Description
#\n	Line Feed
#\r	Carriage Return
#\r\n	Carriage Return + Line Feed
#\v or \x0b	Line Tabulation
#\f or \x0c	Form Feed
#\x1c	File Separator
#\x1d	Group Separator
#\x1e	Record Separator
#\x85	Next Line (C1 Control Code)
#\u2028	Line Separator
#\u2029	Paragraph Separator

In [193]:
text = 'I\ncan\ndo\nit.'   
text.splitlines()

['I', 'can', 'do', 'it.']

In [194]:
text = '''I
CAN
DO
IT'''
text.splitlines()

['I', 'CAN', 'DO', 'IT']

In [ ]:
#syntax - str.startswith(prefix[, start[, end]])
#startswith() method takes a maximum of three parameters:
#prefix - String or tuple of strings to be checked
#start (optional) - Beginning position where prefix is to be checked within the string.
#end (optional) - Ending position where prefix is to be checked within the string.

In [197]:
text = "I had an delightful lunch"  
text.startswith('I')

True

In [199]:
text = " I had an delightful lunch"  
text.startswith(' ')

True

In [ ]:
#syntax - str.endswith(suffix[, start[, end]])
#The endswith() takes three parameters:
#suffix - String or tuple of suffixes to be checked
#start (optional) - Beginning position where suffix is to be checked within the string.
#end (optional) - Ending position where suffix is to be checked within the string.
#The endswith() method returns a boolean.
#It returns True if a string ends with the specified suffix.
#It returns False if a string doesn't end with the specified suffix.

In [203]:
text = "I had an delightful lunch"  
text.endswith('lunch')

True

In [204]:
text = "I had an delightful lunch"  
text.endswith('"')

False

In [ ]:
#syntax - str.zfill(width)
#The width specifies the length of the returned string from zfill() with 0 digits filled to the left.
#zfill() returns a copy of the string with 0 filled to the left. The length of the returned string depends on the width provided.
#Suppose, the initial length of the string is 10. And, the width is specified 15. In this case, zfill() returns a copy of the string with five '0' digits filled to the left.
#Suppose, the initial length of the string is 10. And, the width is specified 8. In this case, zfill() doesn't fill '0' digits to the left and returns a copy of the original string. The length of the returned string in this case will be 10.

In [208]:
number = '-555'  
number.zfill(8)

'-0000555'

In [209]:
number = '*55'
number.zfill(5)

'00*55'

In [ ]:
#syntax - str.format_map(mapping)
#format_map() takes a single argument mapping(dictionary).

In [212]:
point = {'ravi':98,'pavan':80,'bob':77} 
print('{ravi} {pavan} {bob}'.format_map(point))

98 80 77

In [26]:
 #remove()

In [225]:
newspapers = {'The Hindu', 'Times of India','Indian Express','News Today'}
newspapers.remove('News Today')
print(newspapers)

{'Times of India', 'Indian Express', 'The Hindu'}

In [25]:
#add()

In [226]:
newspapers = {'The Hindu', 'Times of India','Indian Express'}  
newspapers.add('News Today')
print(newspapers)

{'Times of India', 'Indian Express', 'The Hindu', 'News Today'}

In [24]:
 #copy()

In [227]:
papers = {'The Hindu', 'Times of India','Indian Express','News Today'} 
newspapers = papers.copy()
print(newspapers)

{'Times of India', 'Indian Express', 'The Hindu', 'News Today'}

In [27]:
#clear()

In [228]:
papers = {'The Hindu', 'Times of India','Indian Express','News Today'} 
newspapers = papers.clear()
print(newspapers)

None

In [28]:
#setdifference()

In [232]:
A = {5,75,98,99,4}   
B = {5,65,98,99,7}
print(A.difference(B))

{75, 4}

In [29]:
#interseciton()

In [30]:
A = {5,75,98,99,4}   
B = {5,65,98,99,7}
print(A.intersection(B))

{98, 99, 5}

In [30]:
#discard()

{98, 99, 5}

In [241]:
numbers = {5,75,98,99,4}  
numbers.discard('98')
print(numbers)

{98, 99, 4, 5, 75}

In [31]:
 #isdisjoint()

In [242]:
A = {5,75,98,99,4}  
B = {5,65,98,99,7}
A.isdisjoint(B)

False

In [32]:
#issubset()

In [244]:
A= {5,65,98,99,4}   
B = {5,65,98,99,4,55}
A.issubset(B)

True

In [33]:
#pop()

In [245]:
numbers = {5,75,98,99,4}
numbers.pop()

98

In [34]:
#syntax - string.expandtabs(tabsize)
#The expandtabs() takes an integer tabsize argument. The default tabsize is 8.
#The expandtabs() returns a string where all '\t' characters are replaced with whitespace characters until the next multiple of tabsize parameter.

In [35]:
str = 'xyz\t12345\tabc'
result = str.expandtabs()
print(result)

xyz     12345   abc

In [36]:
str = "xyz\t12345\tabc"
print('Tabsize 3:', str.expandtabs(3))

Tabsize 3: xyz   12345 abc